:root {
    --purple: rgb(228, 148, 221); 
    --white: #fff;
    --alpha-gray: rgb(255, 255, 255, .5);
    --dropdown-active: rgb(43, 43, 43);
}

.brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--white);
}

.brand 
{
    color: var(--alpha-gray);
}

.brand:hover {
    color: var(--white);
}

.c-controller {
    transform: scale(3, 3);
}

.carousel-item {
    transform: scale(.75, .75);
}


#roles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.dropdown-item:active {
    background-color: var(--dropdown-active);
}

.comp-img {
    height: 250px;
    width: 300px;
}